Object_Detection_AWS/credentials.py
Object_Detection_AWS/data/
Object_Detection_AWS/data2/
Object_Detection_AWS/__pycache__/
Object_Detection_AWS/AWSenv/
Object_Detection_AWS/cans.mp4
Object_Detection_AWS/zebras.mp4

Object_Detection_Yolov8/yoloenv

MLObjects/data
MLObjects/data_Old
MLObjects/resizing
MLObjects/test_dummy
MLObjects/train_yolo_model