Object_Detection_AWS/
Object_Detection_Yolov8/
Object_Detection_AWS/credentials.py
Object_Detection_AWS/data/
Object_Detection_AWS/data2/imgs/
Object_Detection_AWS/data2/anns/
Object_Detection_AWS/__pycache__/
Object_Detection_AWS/AWenv/
Object_Detection_Yolov8/yoloenv